<p>
    <span>
        <span>Resource Stack, Inc.</span>
    </span>
    <span>
        <span>&nbsp;(including its subsidiaries) respects your privacy and we are committed to protecting it through our compliance with this privacy policy (the &ldquo;Policy&rdquo;) in connection with the online websites, applications and services (the &ldquo;Services&rdquo;) that we operate. This Policy also applies to the</span>
    </span>
    <span>
        <span>ChronStack</span>
    </span>
    <span>
        <span>&nbsp;Tester&nbsp;</span>
    </span>
    <span>
        <span>subsidiaries</span>
    </span>
    <span>
        <span>.&nbsp;</span>
    </span>
</p>
<p>
    <span>
        <span>Our Services include our websites, applications and other services that link to this Policy. This Policy describes the types of information we may collect from you or that you may provide when you use our Services, as well as our practices for collecting, using, maintaining, protecting and disclosing that information.</span>
    </span>
</p>
<p>
    <span>
        <span>This Policy applies to information we collect:</span>
    </span>
</p>
<ul>
    <li>
        <span>When you use or interact with our Services.</span>
    </li>
    <li>
        <span>In your email, text, and other electronic messages with us.</span>
    </li>
    <li>
        <span>Through our mobile and desktop websites and applications.</span>
    </li>
</ul>
<p>
    <span>
        <span>Please read this Policy carefully to understand our policies and practices regarding your information and how we use it and how we will treat it. If you do not agree with our policies and practices, your choice is not to use our Services. By accessing or using our Services, you agree to accept the terms and conditions set forth in this Policy. This Policy may change from time to time. Your continued use of our Services after we make changes is deemed to be acceptance of those changes, so please check the Policy periodically for updates.</span>
    </span>
</p>
<p>
    <strong>
        <span>
            <span>EU-US PRIVACY SHIELD AND SWISS-US PRIVACY SHIELD</span>
        </span>
    </strong>
</p>
<p>
    <span>
        <span>Resource Stack, Inc</span>
    </span>
    <span>
        <span>, and the&nbsp;</span>
    </span>
    <span>
        <span>Chronstack</span>
    </span>
    <span>
        <span>&nbsp;Tester</span>
    </span>
    <span>
        <span>&nbsp;comply with the EU-US Privacy Shield Framework (the &ldquo;EU-US Privacy Shield&rdquo;) and the Swiss-US Privacy Shield Framework (the &ldquo;Swiss-US Privacy Shield&rdquo;) as set forth by the U.S. Department of Commerce regarding the collection, use, and retention of personal information from European Union member countries and Switzerland.&nbsp;</span>
    </span>
    <span>
        <span>ChronStack</span>
    </span>
    <span>
        <span>&nbsp;Tester</span>
    </span>
    <span>
        <span>&nbsp;has certified that it adheres to the Privacy Shield Principles of Notice, Choice, Accountability for Onward Transfer, Security, Data Integrity and Purpose Limitation, Access, and Recourse, Enforcement and Liability (the &ldquo;Privacy Shield Principles&rdquo;). If there is any conflict between the policies set forth in this Policy and the Privacy Shield Principles, the Privacy Shield Principles shall govern or prevail.</span>
    </span>
</p>
<p>
    <span>
        <span>To learn more about the Privacy Shield program, and to view our certification page, please visit </span>
    </span>
    <a href="https://www.privacyshield.gov/">
        <span>
            <span>https://www.privacyshield.gov/</span>
        </span>
    </a>
</p>
<p>
    <span>
        <span>Chronstack</span>
    </span>
    <span>
        <span>&nbsp;Tester</span>
    </span>
    <span>
        <span>&nbsp;is subject to the investigatory and enforcement powers of the Federal Trade Commission (the &ldquo;FTC&rdquo;). Furthermore, with regards to any human resources related data that may be transferred from the EU to the U.S. in connection with or in the context of any employment relationship with a EU-based employee,&nbsp;</span>
    </span>
    <span>
        <span>ChronStack</span>
    </span>
    <span>
        <span>&nbsp;Tester</span>
    </span>
    <span>
        <span>&nbsp;is committed to co-operating with EU data protection&nbsp;</span>
    </span>
    <span>
        <span>authorities (or DPAs) in the relevant country regarding any such EU-based employee and comply with the advice provided by such DPAs in connection with the foregoing.</span>
    </span>
</p>
<p>
    <strong>
        <span>
            <span>CHILDREN UNDER THE AGE OF 13</span>
        </span>
    </strong>
</p>
<p>
    <span>
        <span>Our Services are not intended for use by children under 13 years of age. No one under age 13 may provide any information to or through our Services. We do not knowingly collect personal information from children under 13 and do not target our Services to children under the age of 13. If you are under 13, do not use or provide any information through our Services. If we learn we have collected or received personal information from a child under the age of 13 without verification of parental consent, we will delete that information. If you believe we might have any information from or about a child under the age of 13, please contact us at:</span>
    </span>
</p>
<p>
    <span>
        <span>Attn: Privacy Officer</span>
    </span>&nbsp;
    <br />
    <span>
        <span>626 Grant Street, #D</span>
    </span>&nbsp;
    <br />
    <span>
        <span>Herndon, VA 20170</span>
    </span>
</p>
<p>
    <strong>
        <span>
            <span>INFORMATION WE COLLECT ABOUT YOU AND HOW WE COLLECT IT</span>
        </span>
    </strong>
</p>
<p>
    <span>
        <span>We collect several types of information from and about users of our Services, including information:</span>
    </span>
</p>
<ul>
    <li>
        <span>by which you may be personally identified, such as name, postal address, e-mail address, telephone number, or any other identifier by which you may be contacted online or offline (&ldquo;personal information&rdquo;</span>
        <span>);</span>
    </li>
    <li>
        <span>that is about you but individually does not identify you, such as your IP address, referral data, and browser and platform type; and/or</span>
    </li>
</ul>
<ul>
    <li>
        <span>about your internet connection, the equipment you use to access our Services and usage details.</span>
    </li>
</ul>
<p>
    <span>
        <span>We collect this information:</span>
    </span>
</p>
<ul>
    <li>
        <span>Directly from you when you provide it to us.</span>
    </li>
    <li>
        <span>Automatically as you use our Services. Information collected automatically may include usage details, IP addresses, and information collected through cookies, web beacons,&nbsp;</span>
        <span>pixels</span>
        <span>&nbsp;and other tracking technologies.</span>
    </li>
    <li>
        <span>From third parties, for example, our business partners and commercial vendors that we use to implement or provide our Services.</span>
    </li>
</ul>
<p>
    <strong>
        <span>
            <span>Information You Provide to Us</span>
        </span>
    </strong>
</p>
<p>
    <span>
        <span>The information we collect through our Services may include:</span>
    </span>
</p>
<p>
    <span>
        <span>Information that you provide by filling in forms through our Services. This includes information provided at the time of registering to use our Services, subscribing to our Services, posting material, or requesting further services. We may also ask you for information when you report a problem with our Services.</span>
    </span>
</p>
<p>
    <span>
        <span>Information that you provide us also includes records and copies of your correspondence (including email addresses from which any correspondence is received), if you contact us.</span>
    </span>
</p>
<p>
    <strong>
        <span>
            <span>Information We Collect Through Automatic Data Collection or Tracking Technologies</span>
        </span>
    </strong>
</p>
<p>
    <span>
        <span>As you use our Services, we may use automatic data collection or tracking technologies to collect certain information about your equipment, browsing actions, and patterns, including:</span>
    </span>
</p>
<ul>
    <li>
        <span>Details of your use of our Services, including traffic data, referral data, location data, logs, and other communication data and the resources that you use (or information that you retrieve) on our Services.</span>
    </li>
    <li>
        <span>Information about your computer or other device and internet connection, including your IP address, operating system, and browser type.</span>
    </li>
</ul>
<p>
    <span>
        <span>We also may use these technologies to collect information about your online activities over time and across third-party websites or other online services (e.g. behavioral tracking).</span>
    </span>
</p>
<p>
    <span>
        <span>The information we collect automatically is statistical data and does not include personal information, but we may maintain it or associate it with personal information we collect in other ways or receive from third parties. It helps us to improve our Services and to deliver a better and more personalized service to our users.</span>
    </span>
</p>
<p>
    <span>
        <span>The technologies we use for this automatic data collection may include:</span>
    </span>
</p>
<ul>
    <li>
        <strong>
            <span>Cookies (or browser cookies)</span>
        </strong>
        <span>. A cookie is a small file placed on the hard drive of your computer. You may refuse to accept browser cookies by activating the appropriate setting(s) on your browser. However, if you select this setting you may be unable to access certain parts of our Services. Unless you have adjusted your browser setting(s) so that it will refuse to accept cookies, our system(s) and technologies will issue cookies when you direct your browser to our Services.</span>
    </li>
    <li>
        <strong>
            <span>Flash Cookies</span>
        </strong>
        <span>. Certain features of our Services may use local stored objects (or &ldquo;flash cookies&rdquo;) to collect and store information about your preferences and navigation to, from, and on our Services. Flash cookies are not managed by the same browser setting(s) as are used for browser cookies.</span>
    </li>
    <li>
        <strong>
            <span>Web Beacons</span>
        </strong>
        <span>. Portions of our Services may contain small electronic files known as web beacons (sometimes also referred to as clear gifs, pixel tags, and single-pixel gifs) that allow us, for example, to count users who have visited pages and for other related website statistics (for example, recording the popularity of certain website content and verifying system and server integrity).</span>
    </li>
</ul>
<p>
    <span>
        <span>We do not collect personal information automatically, but we may tie this information to personal information about you that we collect or receive from other third-party sources or you provide to us.</span>
    </span>
</p>
<p>
    <strong>
        <span>
            <span>Third-Party Use of Cookies and Other Tracking Technologies</span>
        </span>
    </strong>&nbsp;
    <br />
    <span>
        <span>Some content or applications, including advertisements, on our Services are served or provided by&nbsp;</span>
    </span>
    <span>
        <span>third-parties</span>
    </span>
    <span>
        <span>, including advertisers, ad networks and servers, content providers, and application providers. These&nbsp;</span>
    </span>
    <span>
        <span>third-parties</span>
    </span>
    <span>
        <span>&nbsp;may use cookies alone or in conjunction with web beacons or other tracking&nbsp;</span>
    </span>
    <span>
        <span>technologies to collect information about you when you use our Services. The information they collect may be associated with your personal information or they may collect information, including personal information, about your online activities over time and across different websites and other online services. They may use this information to provide you with interest-based (behavioral or retargeted) advertising or other targeted content.</span>
    </span>
</p>
<p>
    <span>
        <span>We do not control these third-parties&rsquo; tracking technologies or how they may be used. If you have any questions about an advertisement or other targeted content, you should contact the responsible provider directly. For information about how you can opt out of receiving targeted advertising or content from many providers, see </span>
    </span>
    <a href="https://system1.com/terms/privacy-policy#disclosureInfo">
        <span>
            <span>Choices About How We Use and Disclose Your Information</span>
        </span>
    </a>
    <span>
        <span>.</span>
    </span>
</p>
<p>
    <strong>
        <span>
            <span>HOW WE USE YOUR INFORMATION</span>
        </span>
    </strong>
</p>
<p>
    <span>
        <span>We use information that we collect about you or that you provide to us, including any personal information:</span>
    </span>
</p>
<ul>
    <li>
        <span>To present our Services and its contents to you.</span>
    </li>
</ul>
<ul>
    <li>
        <span>To provide you with information, products, or services that you request from us.</span>
    </li>
    <li>
        <span>To fulfill any other purpose for which you provide it.</span>
    </li>
    <li>
        <span>To provide you with notices about your account, including expiration and renewal notices.</span>
    </li>
    <li>
        <span>To carry out our obligations and enforce our rights arising from any contracts&nbsp;</span>
        <span>entered into</span>
        <span>&nbsp;between you and us, including for billing and collection.</span>
    </li>
    <li>
        <span>To notify you about changes to our Services.</span>
    </li>
</ul>
<ul>
    <li>
        <span>To allow you to participate in interactive features on our Services.</span>
    </li>
    <li>
        <span>In any other way we may describe when you provide the information.</span>
    </li>
    <li>
        <span>For any other purpose with your consent.</span>
    </li>
</ul>
<p>
    <span>
        <span>We may use the information we have collected from you to enable us to display advertisements to our advertisers&rsquo; target audiences. Even though we do not disclose your personal information for these purposes without your consent, if you click on or otherwise interact with an advertisement, the advertiser may assume that you meet its target or objective criteria.</span>
    </span>
</p>
<p>
    <strong>
        <span>
            <span>DISCLOSURE OF YOUR INFORMATION</span>
        </span>
    </strong>
</p>
<p>
    <span>
        <span>We may disclose aggregated information about our users, and information that does not identify any individual, without restriction.</span>
    </span>
</p>
<p>
    <span>
        <span>We may disclose personal information that we&nbsp;</span>
    </span>
    <span>
        <span>collect</span>
    </span>
    <span>
        <span>&nbsp;or you provide as described in this Policy:</span>
    </span>
</p>
<ul>
    <li>
        <span>To our subsidiaries and affiliates.</span>
    </li>
    <li>
        <span>To contractors, service providers, and other third-parties we use to support our business and deliver our Services.</span>
    </li>
    <li>
        <span>To a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of our assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which personal information of users held by us is among the assets transferred.</span>
    </li>
</ul>
<ul>
    <li>
        <span>To fulfill the purpose for which you provide it.</span>
    </li>
    <li>
        <span>For any other purpose disclosed by us when you provide the information.</span>
    </li>
    <li>
        <span>With your consent.</span>
    </li>
</ul>
<p>
    <span>
        <span>We may also disclose your personal information:</span>
    </span>
</p>
<ul>
    <li>
        <span>To comply with any court order, law, or legal process, including to respond to any government or regulatory request.</span>
    </li>
</ul>
<ul>
    <li>
        <span>If we believe disclosure is necessary or appropriate to protect our rights, property, or for our safety, and that of our customers, or others. This includes exchanging information with other companies and organizations for the purposes of fraud protection and credit risk reduction.</span>
    </li>
    <li>
        <span>Under certain circumstances, we may be required to disclose your personal information in response to valid requests by public, regulatory or governmental authorities, including to meet national security or law enforcement requirements.</span>
    </li>
    <li>
        <span>ChronStack</span>
        <span>&nbsp;Tester</span>
        <span>&rsquo;s accountability for data it receives pursuant to the EU-US Privacy Shield or the Swiss-US Privacy Shield and subsequent transfer of that data to third parties is detailed in the Privacy Shield Principles. In cases of onward transfer to third parties of data of EU or Swiss individuals received pursuant to the EU-US Privacy Shield or the Swiss-US Privacy Shield,&nbsp;</span>
        <span>ChronStack</span>
        <span>&nbsp;Tester</span>
        <span>&nbsp;is potentially liable. In particular,&nbsp;</span>
        <span>ChronStack</span>
        <span>&nbsp;Tester</span>
        <span>&nbsp;remains responsible and liable under the Privacy Shield Principles if third-party agents that it engages to process the personal data on its behalf do so in a manner inconsistent with the Privacy Shield Principles, unless&nbsp;</span>
        <span>ChronStack</span>
        <span>&nbsp;Tester</span>
        <span>&nbsp;proves that it is not responsible for the event giving rise to the damage. With regards to any human resources related data that may be transferred from the EU to the US in connection with or in the context of any employment relationship with a EU-based employee,&nbsp;</span>
        <span>ChronStack</span>
        <span>&nbsp;Tester</span>
        <span>&nbsp;is committed to co-operating with EU data protection authorities (or DPAs) in the relevant country regarding any such EU-based employee and comply with the advice provided by such DPAs in connection with the foregoing.</span>
    </li>
</ul>
<p>
    <strong>
        <span>
            <span>CHOICES ABOUT HOW WE USE AND DISCLOSE YOUR INFORMATION</span>
        </span>
    </strong>
</p>
<p>
    <span>
        <span>We strive to provide you with choices regarding the personal information you provide to us. We have created mechanisms to provide you with the following control over your personal information and similar data that we may collect and store:</span>
    </span>
</p>
<ul>
    <li>
        <span>You can set your browser to refuse to accept all or some browser cookies, or to alert you when cookies are being set. If you disable or refuse cookies, please note that some parts of our Services (including certain websites and applications that you may access through our Services) may then be inaccessible or not function properly.</span>&nbsp;
    </li>
    <li>
        <span>ChronStack</span>
        <span>&nbsp;Tester&nbsp;</span>
        <span>acknowledges that EU and Swiss individuals have the right to access the personal information that we maintain about them. An EU or Swiss individuals who seeks access, or who seeks to correct, amend, or delete inaccurate data, should </span>
        <a href="https://system1.com/terms/privacy-policy/privacy-inquiries">
            <span>contact&nbsp;</span>
            <span>ChronStack</span>
            <span>&nbsp;Tester</span>
        </a>
        <span>. If requested to remove data, we will respond within a reasonable timeframe.</span>
    </li>
    <li>
        <span>We will also provide an EU or Swiss individuals with opt-out or opt-in choice(s) before we share their data with third parties other than our agents, or before we use it for a purpose other than&nbsp;</span>
        <span>which it was originally collected or subsequently authorized.</span>&nbsp;
    </li>
    <li>
        <span>To limit the use and disclosure of your personal information, please submit a written request </span>
        <a href="https://system1.com/terms/privacy-policy/privacy-inquiries">
            <span>here</span>
        </a>
        <span>.</span>
    </li>
</ul>
<p>
    <strong>
        <span>
            <span>ACCESSING AND CORRECTING YOUR INFORMATION</span>
        </span>
    </strong>
</p>
<p>
    <span>
        <span>We desire to keep you in control of the personal information you provide to us. Accordingly, you can review, correct, change, or remove the registration settings for the personal information that you provide to us and that we subsequently control. To choose not to receive future communications from us, please </span>
    </span>
    <a href="https://system1.com/contact">
        <span>
            <span>Contact Us</span>
        </span>
    </a>
    <span>
        <span>.</span>
    </span>
</p>
<p>
    <span>
        <span>You may also </span>
    </span>
    <a href="https://system1.com/terms/privacy-policy/privacy-inquiries">
        <span>
            <span>contact&nbsp;</span>
        </span>
        <span>
            <span>ChronStack</span>
        </span>
    </a>
    <span>
        <span>&nbsp;Tester</span>
    </span>
    <span>
        <span> to request access to, correct, or delete any personal information that you have provided to us. We may not accommodate a request to change information if we believe the change would violate any law or legal requirement or cause the information to be incorrect.</span>
    </span>
</p>
<p>
    <strong>
        <span>
            <span>DATA SECURITY</span>
        </span>
    </strong>
</p>
<p>
    <span>
        <span>We have implemented security measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration, and disclosure.</span>
    </span>
</p>
<p>
    <span>
        <span>Unfortunately, the transmission of information via the internet is not completely secure. Although we do our best to protect your personal information, we cannot guarantee the security of your personal information transmitted to (or collected by) our Services. Any transmission of personal information is at your own risk. We are not responsible for circumvention of any privacy settings or security measures contained on or implemented through the Services.</span>
    </span>
</p>
<p>
    <strong>
        <span>
            <span>DISPUTE RESOLUTIONS</span>
        </span>
    </strong>
</p>
<p>
    <span>
        <span>In compliance with the Privacy Shield Principles,&nbsp;</span>
    </span>
    <span>
        <span>ChronStack</span>
    </span>
    <span>
        <span>&nbsp;Tester</span>
    </span>
    <span>
        <span>&nbsp;commits to resolve complaints about your privacy and our collection or use of your personal information. European Union or Swiss individuals with inquiries or complaints regarding this privacy policy should first contact&nbsp;</span>
    </span>
    <span>
        <span>ChronStack</span>
    </span>
    <span>
        <span>&nbsp;Tester</span>
    </span>
    <span>
        <span></span>
    </span>
    <a href="https://system1.com/terms/privacy-policy/privacy-inquiries">
        <span>
            <span>here</span>
        </span>
    </a>
    <span>
        <span>.</span>
    </span>
</p>
<p>
    <span>
        <span>ChronStack</span>
    </span>
    <span>
        <span>&nbsp;Tester</span>
    </span>
    <span>
        <span>&nbsp;has further committed to refer unresolved privacy complaints under the Privacy Shield Principles to an independent dispute resolution mechanism, the BBB EU PRIVACY SHIELD, operated by the Council of Better Business Bureaus. If you do not receive timely acknowledgment of your complaint, or if your complaint is not satisfactorily addressed, please visit </span>
    </span>
    <a href="http://www.bbb.org/EU-privacy-shield/for-eu-consumers">
        <span>
            <span>http://www.bbb.org/EU-privacy-shield/for-eu-consumers</span>
        </span>
    </a>
    <span>
        <span> for more information and to file a complaint.</span>
    </span>
</p>
<p>
    <span>
        <span>Under certain conditions, more fully described on the Privacy Shield website </span>
    </span>
    <a href="https://www.privacyshield.gov/article?id=How-to-Submit-a-Complaint">
        <span>
            <span>https://www.privacyshield.gov/article?id=How-to-Submit-a-Complaint</span>
        </span>
    </a>
    <span>
        <span>, you may invoke binding arbitration when other dispute resolutions procedures have been exhausted.</span>
    </span>
</p>
<p>
    <strong>
        <span>
            <span>CHANGES TO OUR PRIVACY POLICY</span>
        </span>
    </strong>
</p>
<p>
    <span>
        <span>It is our policy to post any changes we make to our Policy on this page. If we make material changes to how we treat our users&rsquo; personal information, we will let you know through a notice available in connection with your use of our Services after implementing such changes. The date the Policy was last revised is found at the top of the page. You are responsible for ensuring we have an up-to-date active and deliverable email address for you, and for periodically visiting this Policy to check for any changes.</span>
    </span>
</p>
<p>
    <span>
        <span>CONTACT INFORMATION</span>
    </span>
</p>
<p>
    <span>
        <span>To ask questions or comment about this Policy and our privacy practices, contact us at:</span>
    </span>&nbsp;
    <br />
    <span>
        <span>Attn: Privacy Officer</span>
    </span>&nbsp;
    <br />
    <span>
        <span>626 Grant Street, #D</span>
    </span>&nbsp;
    <br />
    <span>
        <span>Herndon, Virginia 20170</span>
    </span>
</p>
<p>&nbsp;</p>