<div class="main">
    <%= render 'common/project_environment_filter', project_id: @project_id, environment_id: @environment_id, projects: @projects, environments: @environments, request_path: reports_main_path%>

    <% if @project_id.present? && @environment_id.present? %>
    <%= render 'reports', project_id: @project_id, environment_id: @environment_id, sche_status: @sche_status, suite_status: @suite_status, schedule: @schedule%>
    <% end %>
</div> 