<div class="row" id="footer" style="display:flex; justify-content: space-between;">
    <span> © Resourcestack Inc 2020</span>
    <a href="https://testing.resourcestack.com/privacy"><span> Privacy Policy </span></a>
</div>